Source: device-tree-compiler
Section: devel
Priority: extra
Maintainer: Hector Oron <zumbi@debian.org>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 5), quilt, flex, bison, texlive, texlive-latex-extra
Homepage: http://git.jdl.com/gitweb/?p=dtc.git
Vcs-Git: git://anonscm.debian.org/crosstoolchain/device-tree-compiler.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=crosstoolchain/device-tree-compiler.git

Package: device-tree-compiler
Architecture: any
Depends: ${shlibs:Depends}
Description: OpenFirmware Device Tree Compiler for Flat Device Trees
 This tool compiles device-tree descriptions for booting PowerPC
 kernels on embedded systems without OpenFirmware.
