Source: device-tree-compiler
Section: devel
Priority: extra
Maintainer: Aurélien GÉRÔME <ag@roxor.cx>
Uploaders: Sven Luther <luther@debian.org>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5), quilt, flex, bison, texlive, texlive-latex-extra
Homepage: http://www.jdl.com/git_repos/?p=dtc.git
Vcs-Git: git://git.roxor.cx/git/device-tree-compiler/
Vcs-Browser: http://git.roxor.cx/?p=device-tree-compiler
XS-DM-Upload-Allowed: yes

Package: device-tree-compiler
Architecture: any
Depends: ${shlibs:Depends}
Description: OpenFirmware Device Tree Compiler for Flat Device Trees
 This tool compiles device-tree descriptions for booting PowerPC
 kernels on embedded systems without OpenFirmware.
